.header {
    position: sticky;
    top: 0;
    z-index: 50;
    transition: background-color 0.2s;
}

.homeHeader {
    background-color: #fff;
    border-bottom: none;
}

.defaultHeader {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f2f4f7;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 64px;
}

.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #101828;
    text-decoration: none;
    transition: color 0.2s;
}

.logoAccent {
    color: #6c717b;
}

.navList {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navLink {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #101828;
    text-decoration: none;
    transition: color 0.2s;
    cursor: pointer;
}

.navLink:hover {
    color: #e44848;
}

.navLink.active {
    color: #e44848; }