.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 310px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.imageWrapper:hover {
    transform: scale(1.02);
}

.image {
    object-fit: cover; }